* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#root {
  max-width: 480px;
  margin: 10px auto;
}

input {
  width: 100%;
  padding: 2px;
}

ul {
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
}

ul li {
  list-style-type: none;
  padding: 3px;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li:hover {
  border-bottom: 1px solid #a8a8a8;
}

.todo {
  width: 100%;
  text-align: center;
}

.btn-completed {
  color: #fafafa;
}

.btn-delete:hover {
  color: red;
}

.btn-toggleAll {
  cursor: pointer;
  color: #00A86B;
  font-size: 1.2em;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-status {
  width: 40%;
  display: flex;
  justify-content: space-around;
}