* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#root {
  max-width: 480px;
  margin: 10px auto;
}

input {
  width: 100%;
  padding: 2px;
}

.todo {
  list-style-type: none;
  padding: 3px;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo:hover {
  border-bottom: 1px solid #a8a8a8;
}

.btn-completed {
  color: #fafafa;
}

.btn-delete:hover {
  color: red;
}
